@charset"utf-8";

@import url('https://fonts.googleapis.com/css2?family=Anybody&family=Raleway&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
}

li {
  list-style: none;
}

::-webkit-scrollbar {
  display: none;
}

.home .highlight .none {
  display: none;
}

html {
  overflow-x: hidden;
}

body {
  background: var(--blue);
  overflow-x: hidden;
}


.loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  animation: loading3s;
  background: #ffffff;
  text-align: center;
  z-index: 20000000;
  transition: 2s ease;
}

.loading .name-uiFace {
  color: #000000;
  font-weight: 700;
}


.lds-spinner {
  margin: 70% auto 1%;
  position: relative;
  width: 24px;
  height: 24px;
  background: none;
  border: 2.6px solid #000000;
  border-radius: 8em;
  animation: spiner.9s linear infinite;
}

@keyframes spiner {

  100% {
    transform: rotate(360deg);
  }
}

.lds-spinner div {
  position: absolute;
  top: 5px;
  left: 5px;
  background: #000000;
  border-radius: 8em;
  border: 2.5px solid #000000;
}


#update {
  position: fixed;
  top: auto;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2000000;
  padding: 20px;
  background: #ffffff;
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
  box-shadow: -2px -2px 10px;
  text-align: center;
}

#update button {
  color: #ffffff;
  background: #329FFC;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border: 0;
  border-radius: 1.5em;
  margin-bottom: 20px;
  font-weight: 700;
}

#update p {
  text-align: justify;
  margin-bottom: 40px;
}

#update svg {
  width: 220px;
  height: 220px;
}

#update .marcador {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 30px;
}

#update .marcador div {
  height: 2px;
  background: #000000;
  margin: 2px auto;
  border-radius: 1.5em;
}

#update .marcador div:nth-child(1) {
  width: 20px;
}

#update .marcador div:nth-child(2) {
  width: 16px;
}


/* menu lateral */

#sidebar {
  background: var(--light);
  position: fixed;
  top: 8px;
  bottom: 8px;
  left: 8px;
  right: 8px;
  width: 280px;
  height: calc(100% - 16px);
  z-index: 2000;
  font-family: var(--lato);
  transition: .3s ease;
  overflow-x: hidden;
  scrollbar-width: none;
  border-radius: var(--border-radius);
}

/* width inicial do menu lateral em dispositivos maiores, ou em orientação paisagem */
#sidebar.hide {
  width: 60px;
}

/* width inicial de celulares em orientação paisagem */
#sidebar.mobileHide {
  width: calc(100% - 16px);
}

/* grade com logo e nome da instituição*/
#sidebar .brand {
  font-size: 24px;
  font-weight: 700;
  height: 56px;
  display: flex;
  align-items: center;
  color: var(--blue);
  position: sticky;
  top: 0;
  left: 0;
  background: none;
  z-index: 500;
  padding-bottom: 20px;
  box-sizing: content-box;
}

/* logo da instituição */
#sidebar .brand .bx {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  margin: 10px;
  border-radius: var(--border-radius);
}

/* grade de opções dentro do menu */
#sidebar .side-menu {
  width: 100%;
  margin-top: 48px;
}

.divisor {
  margin: 9px auto 10px;
  width: 97%;
  height: 1.5px;
  background: var(--light);
}

/* container dde cada opção */
#sidebar .side-menu li {
  height: 48px;
  background: transparent;
  margin-left: 6px;
  border-radius: .8em 0 0 .8em;
  padding: 4px;
}

/* container das opções ativas/ com marcação de página ativa */
#sidebar .side-menu li.active {
  background: var(--grey);
  position: relative;
}

#sidebar .side-menu li.active::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
  top: -40px;
  right: 0;
  box-shadow: 20px 20px 0 var(--grey);
  z-index: -1;
}
#sidebar .side-menu li.active::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: var(--border-radius);
  bottom: -40px;
  right: 0;
  box-shadow: 20px -20px 0 var(--grey);
  z-index: -1;
}

/* stilo das opções do menu */
#sidebar .side-menu li .options {
  width: 100%;
  height: 100%;
  background: 0;
  display: flex;
  align-items: center;
  border-radius: .5em;
  font-size: 16px;
  color: var(--dark-grey);
  white-space: nowrap;
  overflow-x: hidden;
  border: 0;
}

#sidebar.hide .side-menu li .options {
  width: calc(48px - (4px * 2));
  transition: width .3s ease;
}

/* cor de texto das opções ativas */
#sidebar .side-menu li.active .options {
  color: var(--blue-ios);
  background: var(--grey);
}

#sidebar .side-menu li.active .options .bx {
  fill: var(--white);
}

#sidebar .side-menu li .options .bx {
  fill: var(--dark);
}
/* cor de texto das opções ativas */
#sidebar .side-menu li.active .logout {
  color: var(--grey);
  background: var(--red);
}

/* estilo dos icones dentro dos botoes de opção do menu */
#sidebar .side-menu li .options .bx {
  min-width: calc(60px  - ((4px + 6px) * 2));
  display: flex;
  justify-content: center;
}
/* // final do menu do topo // */


/* container da página e do menu do topo  */
#content {
  position: relative;
  width: calc(100% - 290px);
  left: 290px;
  transition: .3s ease;
}

/* tamanho da contenção, menos o tamanho do menu lateral quando o menu está fechado em dispositivos grandes */
#sidebar.hide ~ #content {
  width: calc(100% - 70px);
  left: 70px;
}

/* tamanho da contenção, menos o tamanho do menu lateral quando o menu está fechado em celulares com orientação retrato */
#sidebar.mobileHide ~ #content {
  width: calc(100% - 0px);
  left: 0px;
}



/* menu do topo */
#content nav {
  width: calc(100% - 16px);
  height: 60px;
  background: var(--grey);
  padding: 2px 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  grid-gap: 24px;
  font-family: var(--lato);
  margin-top: auto;
  margin-bottom: 0;
  margin: 8px;
  z-index: 1000;
  border-radius: var(--border-radius);
}
/*
#content nav::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: -40px;
  left: 0;
  border-radius: 50%;
  box-shadow: -20px -20px 0 var(--light);
}
*/
#content nav div {
  color: var(--dark);
}

/* botão de abrir e fechar o menu lateral*/
#content nav .containerUser {
  padding: 3px;
  width: 130px;
  height: 95%;
}

#content nav .profile {
  width: 100%;
  height: 100%;
  display: flex;
  border-radius: var(--border-radius);
  padding: 2px;
  background: var(--light);
}

#content nav .profile div {
  width: 100%;
  height: 100%;
  padding: 2px;
}

#content nav .profile .user {
  padding-left: 5%;
  padding-top: 5%;
  padding-bottom: 0;
  width: 67px;
  height: 100%;
  border-radius: var(--border-radius);
  overflow: hidden;
}

#content nav .profile .user img {
  height: 90%;
  border-radius: var(--border-radius);
}

#content nav .profile .icon {
  width: 90%;
  display: flex;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 0;
}

#content nav .profile .icon .bx {
  width: 100%;
  line-height: 34px;
  text-align: center;
  color: var(--dark-grey);
  font-size: 20px;
}

#content nav .bx.bx-menu-alt-left {
  background: var(--light);
  padding: 10px;
  border-radius: .6em;
  color: var(--dark);
  font-size: 20px;
}

/* título do que buscar */
#content nav .nav-link {
  font-size: 16px;
  transition: .3s ease;
}
#content nav .nav-link:hover {
  color: var(--blue);
}

/* formulário de captura da busca */
#content nav form {
  max-width: 400px;
  width: 100%;
  margin-right: auto;
}

/* input de busca nk menu do topo */
#content nav form .form-input .bx {
  color: var(--dark-grey);
}

#content nav form .form-input {
  display: flex;
  align-items: center;
  height: 40px;
  border-radius: 0 .8em .8em 0;
}

#content nav form .form-input input {
  flex-grow: 1;
  padding: 0 16px;
  height: 100%;
  border: none;
  background: var(--grey);
  border-radius: var(--border-radius);
  outline: none;
  width: 100%;
  color: var(--dark-grey);
}

/* botão de envio do formulário de busca */
#content nav form .form-input button {
  width: 36px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  color: var(--dark-grey);
  font-size: 18px;
  border: none;
  outline: none;
  border-radius: 0 .8em .8em 0;
}

/* icone de notificações do menu do topo*/
#content nav .notification {
  font-size: 20px;
  position: relative;
  padding: 10px;
  color: var(--dark-grey);
}

#content nav .active {
  background: 0;
  padding: 10px;
  border-radius: var(--border-radius);
  cursor: pointer;
  pointer-events: none;
  color: var(--blue-ios);
}

#content nav svg {
  fill: var(--dark-grey);
}

#content nav .active svg {
  fill: var(--blue-ios);
}

/* número de notificações */
#content nav .notification .num {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid var(--grey);
  background: var(--blue-ios);
  color: var(--light);
  font-weight: 700;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* // final do menu do topo // */



/* container das páginas */
#content main {
  width: calc(100% - 16px);
  padding: 0px 10px;
  font-family: var(--poppins);
  height: calc(100vh - 86px);
  overflow-y: scroll;
  border-radius: .9em;
  background: var(--grey);
  margin: 8px;
}

#content main nav {
  display: none;
}

/* estilo aplicado as páginas colecionadas nas opções do menu lateral */

#content main .page {
  display: none;
}

#content main .active {
  display: block;
}

#content main .page6 .head-title .left h1 {
  color: var(--blue-ios);
}

#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}

#content main .head-title .left h1 {
  font-size: 36px;
  font-weight: 600;
  margin-top: 25px;
  margin-bottom: 10px;
  color: var(--dark);
}

#content main .head-title .left p {
  font-size: 12.5px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--dark);
  max-width: 260px;
}

#content main .head-title .left .breadcrumb {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  background: var(--light);
  padding: 10px;
  border-radius: var(--border-radius);
  border: 0 solid var(--grey);
}
#content main .head-title .left .breadcrumb li {
  color: var(--dark);
  fill: var(--dark);
  font-weight: 400;
}
#content main .head-title .left .breadcrumb li div {
  color: var(--dark-grey);
  fill: var(--dark-grey);
  pointer-events: none;
}
#content main .head-title .left .breadcrumb li div.active {
  color: var(--dark);
  fill: var(--dark);
  pointer-events: unset;
  font-weight: 400;
}

.home .back {
  font-size: 20px;
  font-weight: 400;
  font-family: Sans-Serif;
  background: none;
  color: var(--blue-ios);
  padding: 10px;
  border-radius: var(--border-radius);
  display: none;
  margin-bottom: 20px;
  margin-left: -10px;
}

.home .back svg {
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 100;
  transform: rotate(180deg);
  margin-bottom: -3px;
}

.home .highlight {
  height: 100%;
}

.home .highlights .options ul {
  position: relative;
  background: var(--grey);
  padding: 10px;
  border-radius: var(--border-radius);
  margin-top: 20px;
}

.home .highlights .options ul li {
  width: 100%;
  text-align: center;
  color: var(--dark);
}

.home .highlights .options ul li.matter_name {
  font-weight: 700;
  font-size: 18px;
  color: var(--dark);
}

.home .highlights .options ul li.posting_date {
  font-weight: 300;
  font-size: 13px;
  color: var(--dark);
}

.home .highlights .options ul li.more {
  margin-top: 20px;
  font-weight: 700;
  font-size: 15px;
  background: var(--light);
  color: var(--dark);
  padding: 15px;
  border-radius: var(--border-radius);
}

.home .highlights .options ul ul {
  display: none;
  width: 100%;
  color: var(--dark);
  margin-top: 20px;
}

.home .highlights .options ul ul li:first-child {
  border-top-right-radius: .8em;
  border-top-left-radius: .8em;
}


.home .highlights .options ul ul li:last-child {
  border-bottom-right-radius: .8em;
  border-bottom-left-radius: .8em;
  border-bottom: 0;
}

.home .highlights .options ul ul .none {
  height: 0;
  border-bottom: 0;
  opacity: 0;
  display: none;
  position: absolute;
  top: -100%;
  left: -100%;
  padding: 0;
}

.home .highlights .options ul ul li {
  background: var(--light);
  padding: 10px;
  overflow: hidden;
  color: var(--dark);
  border-bottom: 0.5px solid var(--dark);
}

.home .highlights {
  position: relative;
  display: none;
  color: var(--dark);
  border-radius: var(--border-radius);
  padding: 10px;
  padding-top: 50px;

}

.home .highlights.adisappear {
  display: block;
}

.home .highlights button.donwload {
  position: absolute;
  top: 0;
  left: 10px;
  background: var(--grey);
  padding: 10px;
  width: calc(85% - 20px);
  text-decoration: none;
  color: var(--dark);
  border: 0;
  border-bottom-left-radius: .8em;
  border-bottom-right-radius: .8em;
}

.home .highlights img.photograph {
  margin-top: 10px;
  width: 100%;
  border-radius: var(--border-radius);
}

.home .containment-support {
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
}

.home .containment-support label {
  position: absolute;
  top: 0;
  left: 10px;
  background: var(--light);
  color: var(--blue-ios);
  font-size: 14px;
  height: 20px;
  border-top-left-radius: .4em;
  border-top-right-radius: .4em;
  padding: 2px;
  z-index: 200;
  opacity: 0;
}

.home .containment-support .block-info {
  width: 100%;
  background: var(--light);
  padding: 10px;
  color: var(--grey);
  margin: 18px auto 18px;
  border-radius: var(--border-radius);
  position: relative;
}

.home .containment-support .img1 {
  background: var(--blue);
  width: 27px;
  height: 27px;
  border-radius: var(--border-radius);
  z-index: 1;
}

.home .containment-support .img2 {
  position: absolute;
  background: var(--blue);
  left: 25px;
  width: 27px;
  height: 27px;
  border-radius: var(--border-radius);
  z-index: 2;
}

.home .containment-support .text {
  position: absolute;
  color: var(--blue-ios);
  top: 17.5px;
  left: 95px;
  z-index: 1;
  font-size: 13px;
  height: 17px;
  overflow: hidden;
  padding-right: 30px;
}

.home .containment-support .img3 {
  position: absolute;
  left: 40px;
  background: var(--blue);
  width: 27px;
  height: 27px;
  border-radius: var(--border-radius);
  z-index: 3;
}

.home .containment-support .img4 {
  position: absolute;
  left: 55px;
  background: var(--blue);
  width: 27px;
  height: 27px;
  border-radius: var(--border-radius);
  z-index: 3;
}

.home .containment-support .icon {
  position: absolute;
  top: 15.5px;
  right: 15px;
  background: 0;
  border: none;
  border-radius: var(--border-radius);
}

#content main .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 24px;
  margin-top: 36px;
}

#content main .box-info .marcador {
  position: absolute;
  top: 4px;
  left: 0;
  width: 100%;
  height: 30px;
}

#content main .box-info .marcador div {
  height: 2px;
  background: var(--dark);
  margin: 2px auto;
  border-radius: var(--border-radius);
}

#content main .box-info .marcador div:nth-child(1) {
  width: 20px;
}

#content main .box-info .marcador div:nth-child(2) {
  width: 16px;
}

#content main .box-info li {
  position: relative;
  padding: 24px;
  background: var(--grey);
  border-radius: 20px;
  border: 1px solid var(--dark);
  display: flex;
  align-items: center;
  grid-gap: 24px;
}

#content main .box-info li:hover {
  border: 1.5px solid var(--dark);
}

#content main .box-info li .bx {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  font-size: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#content main .box-info li /*:nth-child(1)*/ .bx {
  background: var(--light);
  color: var(--dark);
}

#content main .box-info li .text h3 {
  font-size: 24px;
  font-weight: 600;
  color: var(--dark);
}

#content main .box-info li .text p {
  color: var(--dark);
  font-size: 13px;
}

#content main .box-info li .text p label {
  font-weight: 300;
}


#content main .page3 .box-info {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 0;
  margin-top: 36px;
  background: var(--light);
  border-radius: var(--border-radius);
}

#content main .page3 .box-info li {
  margin: auto;
  width: 90%;
  border: 0;
  border-radius: 0;
  padding: 10px;
  border-bottom: 1.5px solid var(--grey);
  background: 0;
}

#content main .page3 .box-info li:last-child {
  border-bottom: 0;
}

#content main .page3 .box-info li:nth-child(1) .marcador {
  display: inline;
}

#content main .page3 .box-info li .marcador {
  display: none;
}

#content main .table-data {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 24px;
  margin-top: 24px;
  width: 100%;
  color: var(--dark);
}
#content main .table-data > div {
  border-radius: 20px;
  background: var(--light);
  padding: 24px;
  overflow-x: auto;
}
#content main .table-data .head {
  display: flex;
  align-items: center;
  grid-gap: 16px;
  margin-bottom: 24px;
}
#content main .table-data .head h3 {
  margin-right: auto;
  font-size: 24px;
  font-weight: 600;
}
#content main .table-data .head .bx {
  cursor: pointer;
  pointer-events: none;
}

#content main .table-data .registration {
  flex-grow: 1;
  flex-basis: 500px;
}
#content main .table-data .registration table {
  width: 100%;
  border-collapse: collapse;
}
#content main .table-data .registration table th {
  padding-bottom: 12px;
  font-size: 13px;
  text-align: left;
  border-bottom: 1px solid var(--grey);
}
#content main .table-data .registration table td {
  padding: 16px 0;
}
#content main .table-data .registration table tr td:first-child {
  display: flex;
  align-items: center;
  grid-gap: 12px;
  padding-left: 6px;
}
#content main .table-data .registration table td img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}
#content main .table-data .registration table tbody tr:hover {
  background: var(--grey);
}
#content main .table-data .registration table tr td .status {
  font-size: 10px;
  padding: 6px 16px;
  color: var(--light);
  border-radius: 20px;
  font-weight: 700;
}
#content main .table-data .registration table tr td .status.completed {
  background: var(--blue);
}
#content main .table-data .registration table tr td .status.process {
  background: var(--yellow);
}
#content main .table-data .registration table tr td .status.pending {
  background: var(--orange);
}


#content main .table-data .todo {
  flex-grow: 1;
  flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
  width: 100%;
}
#content main .table-data .todo .todo-list li {
  width: 100%;
  margin-bottom: 16px;
  background: var(--grey);
  border-radius: 10px;
  padding: 14px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
  cursor: pointer;
  pointer-events: none;
}
#content main .table-data .todo .todo-list li.completed {
  border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
  border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
  margin-bottom: 0;
}
/* // final do contêiner das páginas */

/* conteiner do menu do topo e das páginas em média screen */


@media screen and (max-width: 768px) {
  /*
  #content nav {
    position: absolute
    top: 0;
    bottom: auto;
    display: flex;
  }
*/

  #sidebar .side-menu li .options {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
  }

  #content nav .nav-link {
    display: none;
  }
}

@media screen and (max-width: 576px) {

  #content main {
    padding: 10px 10px;
    padding-top: 90px;
    margin: 0;
    top: 0;
    left: 0;
    height: calc(100vh - 74px - 16px - 8px);
    width: 100%;
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
  }

  #content main.activEsuBpage {
    padding-top: 10px;
  }

  #content nav .bx-menu-alt-left {
    display: none;
  }

  #content nav .search-btn .bx-search {
    padding: 10px;
    background: none;
    border-radius: var(--border-radius);
  }

  #content nav {
    position: absolute;
    top: 0;
    bottom: auto;
    width: 100%;
    margin: 0;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    background: var(--grey);
  }

  #sidebar {
    background: none;
    position: fixed;
    top: auto;
    bottom: 10px;
    left: 8px;
    right: 8px;
    height: calc(60px + 14px);
    z-index: 2000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
    border-radius: 0;
    font-size: 23px;
  }

  #sidebar .brand {
    display: none;
  }

  #sidebar .side-menu li {
    margin: auto;
    border-radius: var(--border-radius);
  }

  #sidebar .side-menu li.active {
    margin: auto;
    border-radius: var(--border-radius);
  }

  #sidebar .side-menu.top {
    display: flex;
    flex-direction: row;
    margin: 12px;
    position: fixed;
    width: calc(100% - 24px);
  }

  #sidebar .side-menu {
    display: none;
  }


  #sidebar .side-menu li.active::before {
    display: none;
  }
  #sidebar .side-menu li.active::after {
    display: none;
  }


  #sidebar .divisor {
    display: none;
  }

  #sidebar .side-menu li .logout {
    display: none;
  }

  #content nav form .form-input input {
    display: none;
  }

  #content nav form .form-input button {
    width: auto;
    height: auto;
    background: transparent;
    border-radius: none;
    color: var(--dark);
  }

  #content nav form.show .form-input input {
    display: block;
    width: 100%;
    background: var(--light);
    color: var(--dark);
    margin-right: 10px;
  }
  #content nav form.show .form-input button {
    width: 120px;
    height: 100%;
    border-radius: 0 .8em.8em 0;
    color: var(--blue-ios);
    background: none;
    font-size: 14.5px;
    margin-left: 2px;
  }
  #content nav form.show .form-input button .bx {
    color: var(--blue-ios);
  }

  #content nav form.show ~ .notification {
    display: none;
  }

  #content nav form.show ~ .containerUser {
    display: none;
  }

  #content main .box-info {
    grid-template-columns: 1fr;
  }

  #content main .table-data .head {
    min-width: 420px;
  }
  #content main .table-data .order table {
    min-width: 420px;
  }
  #content main .table-data .todo .todo-list {
    min-width: 420px;
  }
}


/* elementos das paginas */


#containment-card-notifications {
  position: relative;
  z-index: 1;
  height: auto;
}

#containment-card-notifications .cards {
  position: relative;
  border-radius: 1.5em;
  width: 100%;
  height: auto;
  margin: 30px auto;
  padding: 20px;
  display: flex;
  background: var(--grey);
  border: 2px solid var(--light);
}

#containment-card-notifications .cards .container .topEl {
  display: inline-block;
}

#containment-card-notifications .cards .container .user img {
  width: 100%;
  height: 100%;
  border-radius: 1.2em;
}

#containment-card-notifications .cards .container .user {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 47px;
  height: 47px;
  overflow: hidden;
}

#containment-card-notifications .cards .container .text {
  color: var(--dark);
  position: absolute;
  top: 25px;
  left: 87px;
  text-align: justify;
}

#containment-card-notifications .cards .container .text h1 {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

#containment-card-notifications .cards .container .icon {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 10px;
  border-radius: var(--border-radius);
}

#containment-card-notifications .cards .container .text p {
  font-size: 13px;
  color: #00000048;
}

#containment-card-notifications .cards .message {
  margin-top: 63px;
  margin-bottom: 45px;
  font-size: 14px;
  z-index: 1;
  color: var(--dark);
  font-family: 'Raleway', sans-serif;
}

#containment-card-notifications .cards .adms {
  position: relative;
  position: absolute;
  bottom: 17px;
  width: 90%;
}

#containment-card-notifications .cards .adms .img1 {
  background: #000000;
  width: 27px;
  height: 27px;
  border-radius: var(--border-radius);
  z-index: 1;
}

#containment-card-notifications .cards .adms .img2 {
  position: absolute;
  background: #000000;
  left: 19px;
  width: 27px;
  height: 27px;
  border-radius: var(--border-radius);
  z-index: 2;
}

#containment-card-notifications .cards .adms .text {
  position: absolute;
  color: #ffffff;
  background: #000000;
  padding: 5px 10px 5px 10px;
  border-radius: var(--border-radius);
  top: 0px;
  left: 100px;
  z-index: 1;
  font-size: 13px;
  font-weight: 700;
  width: auto;
}

#containment-card-notifications .cards .adms .img3 {
  position: absolute;
  left: 40px;
  background: #000000;
  width: 27px;
  height: 27px;
  border-radius: var(--border-radius);
  z-index: 3;
}

#containment-card-notifications .cards .adms .img4 {
  position: absolute;
  left: 55px;
  background: #000000;
  width: 27px;
  height: 27px;
  border-radius: var(--border-radius);
  z-index: 3;
}




/*Pagina de controle*/

.releases {
  background: var(--light);
  margin-top: 40px;
  width: 100%;
  padding: 20px;
  border-radius: var(--border-radius);
  text-align: center;
}

.releases h2 {
  text-align: left;
  color: var(--blue-ios);
  font-weight: 400;
  font-size: 20px;
}

.releases input, textarea {
  width: 100%;
  padding: 10px;
  background: var(--blue);
  border: none;
  color: var(--dark);
  margin-top: 10px;
  outline: none;
  border-radius: var(--border-radius);
}

.releases .message {
  height: 100px;
}

.releases .submit__contention {
  text-align: left;
}

.releases .submit {
  margin-top: 10px;
  padding: 10px;
  border-radius: var(--border-radius);
  background: var(--dark);
  width: 50%;
  border: 0;
}

.releases .submit svg {
  fill: var(--inverse-dark);
}








/* Página de ajustes */

.page6 .container_user {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.page6 .container_info {
  margin-top: 6px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.page6 .container_info .name {
  font-weight: 700;
  color: var(--dark);
}

.page6 .container_info .mail {
  font-size: 14px;
  color: var(--dark)/*#00000048*/;
  opacity: .7;
}

.page6 .profile {
  width: 50px;
  height: 50px;
  border-radius: var(--border-radius);
  overflow: hidden;
}

.page6 .configuration_options {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  left: 0;
}

.page6 .configuration_options .session_title {
  width: 100%;
  padding: 8px;
  background: var(--light);
  color: var(--dark);
  padding-left: 20px;
  font-weight: 500;
}

.page6 .configuration_options button {
  width: 100%;
  padding: 8px;
  background: var(--grey);
  border: 0;
  text-align: left;
  padding-left: 20px;
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}

.page6 .configuration_options button span {
  width: 100%;
  color: var(--dark);
  font-weight: 600;
}

.page6 .configuration_options button span:last-child {
  width: 100%;
  text-align: right;
  margin-right: 20px;
}

.page6 .configuration_options button span:last-child svg {
  fill: var(--dark);
}